@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #fff;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

@font-face {
  font-family: 'Pretendard' !important;
  font-weight: 900;
  font-display: optional;
  src:
    url('/fonts/woff2/Pretendard-Black.woff2') format('woff2'),
    url('/fonts/woff/Pretendard-Black.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard' !important;
  font-weight: 800;
  font-display: optional;
  src:
    url('/fonts/woff2/Pretendard-ExtraBold.woff2') format('woff2'),
    url('/fonts/woff/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard' !important;
  font-weight: 700;
  font-display: optional;
  src:
    url('/fonts/woff2/Pretendard-Bold.woff2') format('woff2'),
    url('/fonts/woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard' !important;
  font-weight: 600;
  font-display: optional;
  src:
    url('/fonts/woff2/Pretendard-SemiBold.woff2') format('woff2'),
    url('/fonts/woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard' !important;
  font-weight: 500;
  font-display: optional;
  src:
    url('/fonts/woff2/Pretendard-Medium.woff2') format('woff2'),
    url('/fonts/woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard' !important;
  font-weight: 400;
  font-display: optional;
  src:
    url('/fonts/woff2/Pretendard-Regular.woff2') format('woff2'),
    url('/fonts/woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard' !important;
  font-weight: 300;
  font-display: optional;
  src:
    url('/fonts/woff2/Pretendard-Light.woff2') format('woff2'),
    url('/fonts/woff/Pretendard-Light.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard' !important;
  font-weight: 200;
  font-display: optional;
  src:
    url('/fonts/woff2/Pretendard-ExtraLight.woff2') format('woff2'),
    url('/fonts/woff/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard' !important;
  font-weight: 100;
  font-display: optional;
  src:
    url('/fonts/woff2/Pretendard-Thin.woff2') format('woff2'),
    url('/fonts/woff/Pretendard-Thin.woff') format('woff');
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
